#About {
    font-family: Gill Sans, sans-serif;
    font-weight: 100;
    padding: 0 0 110px 0;
}

.picture {
    float: left;
    margin: 0 50px;
}

.description {
    margin: 10px 50px;
    line-height: 25px;
    font-size: larger;
}