@media only screen and (max-width: 767px){
    #Startpage {
        background: url("../images/background_startpage_mobile.jpg") no-repeat fixed center center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 768px){
    #Startpage {
        background: url("../images/background_startpage.jpg") no-repeat fixed center center;
    }

    .introduction {
        float: right;
        right: 70px;
    }
}

#Startpage {
    background-size: cover;
    height: 100vh;
    padding: 0;
    position: relative;
}

#Startpage::before {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.introduction {
    font-family: Gill Sans, sans-serif;
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
}

.introduction h1 {
    font-weight: 100;
    font-size: 60px;
    margin-bottom: 20px;
}

.introduction .subtitle {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 20px;
}

.hexagon {
    position: relative;
    width: 29px;
    height: 47px;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(-90deg);
    display: inline-block;
    transition: background-color 300ms ease;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    border-radius: 5px;
    text-align: center;
    margin: 0 40px 0 0;
}

.hexagon:last-child {
    margin-right: 0;
}

.hexagon:before, .hexagon:after {
    position: absolute;
    width: inherit; height: inherit;
    background: inherit;
    content: '';
    z-index: -1;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    top: 0;
}

.hexagon::before {
    transform: rotate(60deg);
    border-radius: 4px 6px 4px 5px;
    width: 30px;
    height: 46px;
    left: 0;
}

.hexagon::after {
    transform: rotate(-59deg);
    border-radius: 6px 5px 5px 6px;
    width: 31px;
    height: 46px;
    left: -1px;
}

.hexagon a {
    display: block;
    width: 47px;
    height: 100%;
    line-height: 50px;
    transform: rotate(90deg);
    position: relative;
    left: -10px;
}

.icon {
    color: white;
}

.hexagon:hover {
    background-color: #11737a;
}