#Timeline {
    font-family: Gill Sans, sans-serif;
    font-weight: 100;
    padding: 0 0 110px 0;
    align-content: center;
}

.timeline {
    margin-top: 40px;
}

.dates {
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.text-center {
    align-content: center;
    margin-bottom: 20px;
}

.timelineTitle {
    font-weight: 100;
    font-size: xx-large;
    margin-top: 60px;
}

.timelineDate {
    font-size: x-large;
    margin: 40px 0;

}

.foobar {

}

.timelineDescription {
    font-size: larger;
    padding: 0 150px;
}

.download {
    margin-top: 40px;
}

.downloadButton {
    border: 2px solid #129198;
    background-color: transparent;
    color: #129198;
    font-size: larger;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    right: 20%;
    transition: background-color 300ms ease;

}

.downloadButton:hover {
    background-color: #129198;
    color: white;
}

