.App {
  text-align: center;
  background-color: #F8F8F8;
}

.topicHeader {
  background-color: #d6d6d6;
  font-size: 40px;
  line-height: 70px;
  font-family: Gill Sans, sans-serif;
  font-weight: 100;
  color: #129198;
}

.headline {
  font-weight: 100;
  margin: 40px 0 50px 0;
  clear: both;
}